*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 80vh;
    background-color: red;
    display: flex;
}

#foto{
    background-color: brown;
    width: 50%;
}

#foto img{
    height: 100%;
    width: 100%;
}

#nombre_candidato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    padding: 20px;
}

#nombre_candidato h1{
    font-size: 50px;
}

#nombre_candidato h1, #nombre_candidato h4{
    margin-bottom: 15px;
}

#buttons_carrusel{
    margin-top: 30px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#buttons_carrusel label{
height: 20px;
width: 20px;
background-color: rgb(0, 0, 0);
border-radius: 50%;
margin-right: 10px;
}

#buttons_carrusel input{
    display: none;
}

#nombre_candidato p{
    margin-top: 40px;
}

nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a{
text-decoration: none;
color: black;
font-weight: 800;
}

#about{
    height: 100vh;
    background-color: burlywood;

}

#content_about{
    display: flex;
    height:500px;
    align-items: center;
    justify-content: center;
}

.header_section{
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_section{
    font-size: 40px;
    text-align: center;
}


#content_left, #content_right{
    width: 25%;
    height: 100%;
    background-color: black;
}

#content_center{
    width: 40%;
    height: 100%;
    background-color: rgb(0, 255, 55);
    display: flex;
    align-items: center;
    justify-content: center;
}

#content_center img{
    width: 350px;
    height: 350px;
    border-radius: 50%;

}